################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RundownEdu.sln
/.vs/RundownEdu
