@model RundownEdu.Models.Segment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Segment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SegmentId" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reader" class="control-label"></label>
                <input asp-for="Reader" class="form-control" />
                <span asp-validation-for="Reader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedReadTime" class="control-label"></label>
                <input asp-for="EstimatedReadTime" class="form-control" />
                <span asp-validation-for="EstimatedReadTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualReadTime" class="control-label"></label>
                <input asp-for="ActualReadTime" class="form-control" />
                <span asp-validation-for="ActualReadTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoryId" class="control-label"></label>
                <select asp-for="StoryId" class="form-control" asp-items="ViewBag.StoryId"></select>
                <span asp-validation-for="StoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
